;
; IsUP? config file
;

; Path to the directory containing logs.
logpath = "log/"

[watchlist]

; List of monitored resources.
; See README.md for instructions about how to add websites.
;
;url[] = "example.com"
